/*图片列表*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f3f3;
    height: 100%;
    min-height:100%;
    position: relative;
}
.container{
    width: 1003px;
    margin: 0 auto;
    /*width: 100%;*/
}
div #logo{
    display: inline-block;
    width: 712px;
}
div #sousuo{
    display: inline-block;
    vertical-align: top;
    margin-top: 83px;
}
input[type="text"] {
    background-color: #f3f3f3;
    border: solid 1px gray;
    height: 36px;
    font-size: 16px;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 30px;
    display: inline-block;
}
input[type="submit"] {
    background-color: #3598db;
    color: white;
    width: 80px;
    height: 39px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
}
#nav{
    background-color: #3598db;
    height: 60px;
    margin-bottom: 20px;
}
#nav nav li{
    display: inline-block;
    line-height: 60px;
    padding: 0 10px;
    border-right: 1px solid #2f89c5;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
}
#nav nav li.on , #nav nav li:hover{
    background-color: #2f89c5;
}
#nav nav a{
    text-decoration: none;
    color: white;
}

h3{
/*div#body_wrapper article header h3{*/
    color: #444444;
    font-size: 18px;
    border-bottom: solid 1px #d6d6d6;
    margin-bottom: 10px;
}
div#body_wrapper article{
    width: 628px;
    display: inline-block;
    vertical-align: top;
}
div#body_wrapper aside{
    display: inline-block;
    width: 352px;
    /*float: right;*/
    /*vertical-align: top;*/
}
.piclist li{
    display: inline-block;
    vertical-align: top;
    width: 202px;
    margin-bottom: 27px;
    margin-right: 5px;
    text-align: center;
}
#body_wrapper a{
    text-decoration: none;
    color: #444444;
}
.piclist li img{
    width: 202px;
    height:140px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
@-webkit-keyframes piclist {
    0%{
        /*透明度opacity*/
        -webkit-transform: rotate(0deg) scale(1);
        -moz-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        -o-transform: rotate(0deg) scale(1);
        opacity: 1;
    }
    30%{-webkit-transform: rotate(-30deg) scale(1.5);
        -moz-transform: rotate(-30deg) scale(1.5);
        -ms-transform: rotate(-30deg) scale(1.5);
        -o-transform: rotate(-30deg) scale(1.5);
        opacity: 0.5;
    }
    60%{-webkit-transform: rotate(0deg) scale(1.5);
        -moz-transform: rotate(0deg) scale(1.5);
        -ms-transform: rotate(0deg) scale(1.5);
        -o-transform: rotate(0deg) scale(1.5);
        opacity: 0.5;
    }
    90%{-webkit-transform: rotate(30deg) scale(1);
        -moz-transform: rotate(30deg) scale(1);
        -ms-transform: rotate(30deg) scale(1);
        -o-transform: rotate(30deg) scale(1);
        opacity: 1;
    }
}

@-moz-keyframes piclist {
    0%{
        /*透明度opacity*/
        -moz-transform: rotate(0deg) scale(1);
        -o-transform: rotate(0deg) scale(1);
        opacity: 1;
    }
    30%{
        -moz-transform: rotate(-30deg) scale(1.5);
        -o-transform: rotate(-30deg) scale(1.5);
        opacity: 0.5;
    }
    60%{
        -moz-transform: rotate(0deg) scale(1.5);
        -o-transform: rotate(0deg) scale(1.5);
        opacity: 0.5;
    }
    90%{
        -moz-transform: rotate(30deg) scale(1);
        -o-transform: rotate(30deg) scale(1);
        opacity: 1;
    }
}
.piclist li:hover img{
    -webkit-animation: piclist 1s linear;
    -moz-animation: piclist 1s linear;
    -ms-animation: piclist 1s linear;
    -o-animation: piclist 1s linear;
}
.listnav li{
    list-style: none;
    display: inline-block;
    background-color: #3598db;
    margin-right: 8px;
    padding: 2px 10px;
    margin-top: 5px;
}
#body_wrapper .listnav a{
    color: white;
}
.listnav li.on,.listnav li:hover{
    background-color: #444444;
}
/*.toplist{*/
    /*vertical-align: top;*/
/*}*/
.toplist li:before{
    content: counter(listnum);
    background-color: #444444;
    padding: 2px 5px;
    color: white;
    margin-right: 5px;
}
.toplist li{
    list-style: none;
    color: #444444;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    counter-increment: listnum;
    margin-top: 15px;
}
.toplist li:first-child:before,.toplist li:nth-child(2):before,.toplist li:nth-child(3):before{
    background-color: #3598db;
}
.toplist li:last-child:before{
    padding: 2px 1px;
}
.articallist li:before{
    content: counter(listnum);
    background-color: #444444;
    padding: 2px 5px;
    color: white;
    margin-right: 5px;
}
.articallist{
    margin-top: 10px;
}
.articallist li:first-child:before,.articallist li:nth-child(2):before,.articallist li:nth-child(3):before{
    background-color: #3598db;
}
.articallist li{
    list-style: none;
    color: #444444;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    counter-increment: listnum;
    margin-top: 15px;
}
.footer_wrapper{
    background-color: #3598db;
    height: 150px;
    margin-top: 10px;
}

.footer_wrapper footer{
    text-align: center;
}
.footer_wrapper li{
    list-style:none;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    border-right: solid 1px white;
    padding-right: 18px;
    margin-left: 18px;
}
.footer_wrapper li:last-child{
    border-right: 0;
}
.footer_wrapper li a{
    text-decoration: none;
    color: white;
}