*{
    margin: 0;
    padding:0;
}
body{
    background-color: #f3f3f3;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
div #logo{
    display: inline-block;
    width: 712px;
}
div #sousuo{
    display: inline-block;
    vertical-align: top;
    margin-top: 83px;
}
input[type="text"] {
    background-color: #f3f3f3;
    border: solid 1px gray;
    height: 36px;
    font-size: 16px;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 30px;
    display: inline-block;
}
input[type="submit"] {
    background-color: #3598db;
    color: white;
    width: 80px;
    height: 38px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
}
#nav{
    background-color: #3598db;
    height: 60px;
}
#nav nav li{
    display: inline-block;
    line-height: 60px;
    padding: 0 10px;
    border-right: 1px solid #2f89c5;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
}
#nav nav li.on , #nav nav li:hover{
    background-color: #2f89c5;
}
#nav nav a{
    text-decoration: none;
    color: white;
}

/*轮播图*/
section#lunbotu{
    /*box-shadow: 1px 4px 15px #A39F9F;*/
}
div.wrap a{
    color:#fff;
}
div#slide-holder {
    width : 628px;
    height : 278px;
}
div#slide-runner {
    width : 628px;
    height : 278px;
    overflow : hidden;
    position : absolute;
}
div#slide-holder img {
    margin : 0;
    display : none;
    position : absolute;
}
div#slide-controls {
    left : 0;
    bottom : 0px;
    width : 628px;
    height : 46px;
    display : none;
    position : absolute;
}
div#slide-controls p.text {
    float : left;
    color : #fff;
    display : inline;
    font-size : 10px;
    line-height : 16px;
    margin : 15px 0 0 20px;
    text-transform : uppercase;
}
p#slide-nav {
    float : right;
    height : 24px;
    display : inline;
    margin : 11px 15px 0 0;
}
p#slide-nav a {
    float : left;
    width : 24px;
    height : 24px;
    display : inline;
    font-size : 11px;
    margin : 0 5px 0 0;
    line-height : 24px;
    font-weight : bold;
    text-align : center;
    text-decoration : none;
    background-position : 0 0;
    background-repeat : no-repeat;
}
p#slide-nav a.on {
    background-position : 0 -24px;
}
/*../images/silde-nav.png old图片*/
p#slide-nav a {
    background-image : url(../images/silde-nav.png);
}