*{
    margin: 0;
    padding:0;
}
body{
    background-color: #f3f3f3;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
div #logo{
    display: inline-block;
    width: 712px;
}
div #sousuo{
    display: inline-block;
    vertical-align: top;
    margin-top: 83px;
}
input[type="text"] {
    background-color: #f3f3f3;
    border: solid 1px gray;
    height: 36px;
    font-size: 16px;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 30px;
    display: inline-block;
}
input[type="submit"] {
    background-color: #3598db;
    color: white;
    width: 80px;
    height: 38px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
}
#nav{
    background-color: #3598db;
    height: 60px;
}
#nav nav li{
    display: inline-block;
    line-height: 60px;
    padding: 0 10px;
    border-right: 1px solid #2f89c5;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
}
#nav nav li.on , #nav nav li:hover{
    background-color: #2f89c5;
}
#nav nav a{
    text-decoration: none;
    color: white;
}

/*轮播图*/
div#body_wrapper{
    margin-top:15px;
}
div#body_wrapper article{
    width: 628px;
    display: inline-block;
}
div#body_wrapper aside{
    width: 352px;
    background-color:#3598db;
    height: 500px;
    float: right;
}
section#lunbotu{
    box-shadow: 1px 4px 15px #A39F9F;
}
div.wrap a{
    color:#fff;
}
div#slide-holder {
    width : 628px;
    height : 278px;
}
div#slide-runner {
    width : 628px;
    height : 278px;
    overflow : hidden;
    position : absolute;
}
div#slide-holder img {
    margin : 0;
    display : none;
    position : absolute;
}
div#slide-controls {
    left : 0;
    bottom : 0px;
    width : 628px;
    height : 46px;
    display : none;
    position : absolute;
}
div#slide-controls p.text {
    float : left;
    color : #fff;
    display : inline;
    font-size : 10px;
    line-height : 16px;
    margin : 15px 0 0 20px;
    text-transform : uppercase;
}
p#slide-nav {
    float : right;
    height : 24px;
    display : inline;
    margin : 11px 15px 0 0;
}
p#slide-nav a {
    float : left;
    width : 24px;
    height : 24px;
    display : inline;
    font-size : 11px;
    margin : 0 5px 0 0;
    line-height : 24px;
    font-weight : bold;
    text-align : center;
    text-decoration : none;
    background-position : 0 0;
    background-repeat : no-repeat;
}
p#slide-nav a.on {
    background-position : 0 -24px;
}
 
p#slide-nav a {
    background-image : url(../images/silde-nav.png);
}
/*集团新闻*/
div.title_bg{
    background: url("../images/title_bg.jpg");
    height: 44px;
    line-height: 35px;
}
section#xinwen{
    margin-top:15px;
}

div.title_bg a{
    font-size: 15px;
    line-height: 20px;
    margin-left: 5px;
    text-decoration: none;
    color: #444444;
}
/*新闻部分*/
section#xinwen{
    margin-top:15px;
}
section#xinwen li{

    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    margin-top: 10px;
}
section#xinwen li a{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
}
section#xinwen li a h3{
    border-bottom: solid 1px white;
    margin-bottom: 5px;
    margin-left: 21px;
    margin-right: 3px;

}
section#xinwen li a p{
    text-indent: 30px;
}
section#xinwen li a h3, section#xinwen li a p{
    padding: 5px 2px 0px 4px;
    font-size: 14px;
    overflow: hidden;
}
section#xinwen li a div.newstitle{
    height: 165px;
    -webkit-box-shadow: 2px 4px 4px #A39F9F;
    -moz-box-shadow: 2px 4px 4px #A39F9F;
    box-shadow: 2px 4px 4px #A39F9F;
}
section#xinwen li img{
    width: 315px;
    height: 165px;
    -webkit-box-shadow: 2px 4px 4px #A39F9F;
    -moz-box-shadow: 2px 4px 4px #A39F9F;
    box-shadow: 2px 4px 4px #A39F9F;
}
.sanjiaoxing{
    width: 25px;
    height: 25px;
    background-color: #3598db;
    position: absolute;
    margin-top: 15px;
    margin-left: -13px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}